<wd-page-header [title]="'Progress'"></wd-page-header>
<wd-pannel-list>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'#ffc107'"
    [progress]="10"
  ></wd-progress-circle>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'w3-aqua'"
    [progress]="20"
  ></wd-progress-circle>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'w3-deep-purple'"
    [progress]="30"
  ></wd-progress-circle>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'w3-teal'"
    [progress]="40"
  ></wd-progress-circle>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'w3-green'"
    [progress]="50"
  ></wd-progress-circle>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'w3-red'"
    [progress]="60"
  ></wd-progress-circle>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'w3-deep-orange'"
    [progress]="70"
  ></wd-progress-circle>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'w3-blue-grey'"
    [progress]="80"
  ></wd-progress-circle>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'w3-indigo'"
    [progress]="90"
  ></wd-progress-circle>
  <wd-progress-circle
    [label]="'Mein Fortschritt'"
    [color]="'w3-khaki'"
    [progress]="100"
  ></wd-progress-circle>
</wd-pannel-list>
<!-- Trigger/Open the Modal -->
<button
  (click)="display = display === 'none' ? 'block' : 'none'"
  class="w3-button"
>
  Open Modal
</button>
<wd-modal
  class="w3-aqua"
  [display]="display"
  (displayChanged)="display = $event"
>
  <wd-alert>
    <h2>Modal Header</h2>
    <p>Some text..</p>
    <p>Some text..</p>
  </wd-alert>
</wd-modal>
